- title t('.title')
= simple_form_for @session do |f|
  - if @session.errors.any?
    #errorExplanation
      %h3 Wrong!
      %p That email address and password didn't match up. Did you #{link_to "forget your password?", help_people_path}
  
  = f.input :email, :as => :email
  = f.input :password
  = f.button :submit

:javascript
  $(function(){
    $("#session_email").focus();
  });
