- javascript "anytime.min"
- stylesheet "anytime.min"

= simple_form_for(resource) do |f|
  = error_messages

  = f.input :datetime, :label => "When", :as => :string, :input_html => { :value => (resource.datetime ? resource.datetime.strftime("%Y-%m-%d %I:%M %p") : nil) }
  = f.input :question
  = f.association :magazine, :label_method => :present_name
  = f.button :submit

= content_for :javascript do
  :javascript
    $(function(){
      $("#meeting_datetime").AnyTime_picker({
        format: "%Y-%m-%d %h:%i %p",
        placement: "inline"
      });
    });
