- javascript "anytime.min"
- stylesheet "anytime.min"

= simple_form_for(resource) do |f|
  = render :partial => 'error_messages'

  = f.input :datetime, :label => "When", :as => :string, :input_html => { :value => (@meeting.datetime ? @meeting.datetime.strftime("%Y-%m-%d %I:%M %p") : nil) }
  = f.input :question
  = f.button :submit

:javascript
  $(function(){
    $("#meeting_datetime").AnyTime_picker({
      format: "%Y-%m-%d %h:%i %p",
      placement: "inline"
    });
  });
