- javascript "anytime.min"
- stylesheet "anytime.min"

= simple_form_for(@meeting) do |f|
  - if @meeting.errors.any?
    #errorExplanation
      %h3= "There #{pluralize_phrase(@meeting.errors.count, 'was an error', 'were some errors')}!"
      %ul
      - @meeting.errors.full_messages.each do |msg|
        %li= msg

  = f.input :when, :as => :string, :input_html => { :value => @meeting.when.strftime("%Y-%m-%d %I:%M %p") }
  = f.input :question
  = f.button :submit

:javascript
  $(function(){
    $("#meeting_when").AnyTime_picker({
      format: "%Y-%m-%d %h:%i %p",
      placement: "inline"
    });
  });
