- title t('.title')
%p= link_to t('.new_meeting'), new_meeting_path

%table
  %thead
    %tr
      %th= Meeting.human_attribute_name :when
      %th= Meeting.human_attribute_name :question
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for meeting in @meetings
      %tr{ :class => cycle(:odd, :even) }
        %td= meeting.when
        %td= meeting.question
        %td.action= link_to t('show'), meeting
        %td.action= link_to t('edit'), edit_meeting_path(meeting)
        %td.action= link_to t('destroy'), meeting, :confirm => t('are_you_sure'), :method => :delete
