- javascript "meetings"

- title "Scores for \"#{resource.question}\""
:markdown
  Here you can enter scores for those who attended this meeting
  #{distance_of_time_in_words(Time.now, resource.when)} ago
  but didn't enter any scores online themselves.  
  #{link_to "Back to meeting", meeting_path(resource)}

%section#scores
  #packlet_titles
    - for packlet in resource.packlets
      = render :partial => "packlets/title", :locals => { :packlet => packlet }
  - for attendee in @attendees
    .scores[attendee]
      - for packlet in resource.packlets
        = render :partial => "scores/form", :locals => { :score => Score.with(attendee, packlet, :entered_by_coeditor => true) }
