- title @meeting.question
%p
  A meeting held on
  %time{ :datetime => @meeting.datetime }
    = @meeting.datetime.strftime("%A, %d %B %Y at %I:%M %p")
- if orchestrates? @meeting
  %p.actions
    = link_to t('.edit'), edit_meeting_path(@meeting)

%section#packlet
  %header
    %h2.inline-block Submissions
    .right
      = link_to "javascript:if(window.print)window.print()" do
        = fa_icon "print", text: "Print the packet"
  %ol.packlets.collapsable.sortable
    - for packlet in @meeting.packlets
      = render :partial => 'packlets/show', :locals => { :packlet => packlet }
  - if scores? @meeting
    %p= link_to "Enter scores for everyone", scores_for_meeting_path(@meeting)

%section#attendance
  %header
    %h2 Attendance
  %ul.attendees
    - for attendee in @meeting.attendees
      = render :partial => 'attendees/show', :locals => { :attendee => attendee }

  - if orchestrates? @meeting
    = render :partial => "attendees/form", :locals => { :attendee => [@meeting, Attendee.new] }
