- title "Meeting"
%p= @meeting.when.strftime("On %A the %d of %B, %Y (at %I:%M %p)")
%h3= @meeting.question
%p
  = link_to t('back'), meetings_path
  = link_to t('edit'), edit_meeting_path(@meeting)

%h3 Attendance
%table
  %tr
    %th Name
    %th Answer
    %th{:colspan => 2} Actions
  - @meeting.attendances.each do |attendance|
    %tr
      %td= attendance.person.name
      %td= attendance.answer
      %td= link_to 'edit', edit_meeting_attendance_path(attendance)
      %td= button_to 'remove', meeting_attendance_path(attendance), :method => :destroy, :class => 'link'
= semantic_form_for [@meeting, Attendance.new] do |f|
  = f.inputs do
    = f.input :meeting, :as => :hidden, :value => @meeting
    = f.input :person, :as => :string
    = f.input :answer
  = f.buttons do
    = f.commit_button

:javascript
  $(function(){
    $("#attendance_person").autocomplete("#{auto_complete_for_person_first_name_middle_name_last_name_email_people_path}");
  });
