- title t('.title')
%p
  = link_to t('back'), meetings_path
  = link_to t('edit'), edit_meeting_path(@meeting)

%dl
  %dt= Meeting.human_attribute_name :when
  %dd= @meeting.when
  %dt= Meeting.human_attribute_name :question
  %dd= @meeting.question
