- title @meeting.question
%p= @meeting.when.strftime("A meeting held on %A, %d %B %Y at %I:%M %p")
- if editor?
  %p
    = link_to t('.edit'), edit_meeting_path(@meeting)

%section#attendances
  %header
    %h2 Attedance
  - for attendance in @meeting.attendances
    = render :partial => 'attendances/show', :locals => { :attendance => attendance }

  - if editor?
    = simple_form_for [@meeting, Attendance.new] do |f|
      - if @attendance.errors.any?
        #errorExplanation
          %h3 There #{pluralize_phrase(@attendance.errors.count, "was an error", "were some errors")}!
          %ul
            - @attendance.errors.full_messages.each do |msg|
              %li= msg
    
      = f.input :person, :as => :string
      = f.input :answer
      = f.button :submit

:javascript
  $(function(){
    $("#attendance_person").autocomplete("#{auto_complete_for_person_first_name_middle_name_last_name_email_people_path}");
  });
