- title @meeting.question
%p= @meeting.when.strftime("A meeting held on %A, %d %B %Y at %I:%M %p")
- if editor?
  %p.actions
    = link_to t('.edit'), edit_meeting_path(@meeting)

%section#attendance
  %header
    %h2 Attendance
  %ul.attendances
    - for attendance in @meeting.attendances
      = render :partial => 'attendances/show', :locals => { :attendance => attendance }

  - if editor?
    = simple_form_for [@meeting, Attendance.new] do |f|
      - if @attendance.errors.any?
        #errorExplanation
          %h3 There #{pluralize_phrase(@attendance.errors.count, "was an error", "were some errors")}!
          %ul
            - @attendance.errors.full_messages.each do |msg|
              %li= msg
    
      = f.input :person, :as => :string, :label => "Attendee (you can create an account by entering someone's name & email address)"
      = f.input :answer, :label => "<span class='name'></span> Answer"
      = f.button :submit

%section#packet
  %header
    %h2 Submissions
  %ol.packets
    - for packet in @meeting.packets
      = render :partial => 'packets/show', :locals => { :packet => packet, :show_author => false }

:javascript
  $(function(){
    $('li:regex(class,(composition|packet)) header h2').live('click', function(e){
      e.preventDefault();
      $(this).parents('li:regex(class,(composition|packet))').toggleClass('collapsed');
    });
  });

- if editor?
  - javascript 'meetings'
