%li.position{ id: position.name.parameterize('_') }
  %header
    %h3
      = position.name
    - if editor? && abilities = position.abilities
      %ul.abilities
        - for ability in abilities
          %li{ title: ability.description }[ability]= ability
  %ul.roles
    - for role in position.roles
      = render partial: 'roles/show', locals: { role: role }
  - if editor?
    %footer{ id: position.id, class: position.roles.empty? && 'add-role' }
      %nav
        = link_to "+", new_role_path(position_id: position.id), class: 'toggle-adding-role', title: "Add someone as #{position.name}"
        .right.small
          = link_to t('edit').html_safe, edit_position_path(position), title: "Edit the term \"#{position.name}\""
          = button_to t('destroy').html_safe, position_path(position),
                           method: :delete,
                           class: "link",
                           remote: true,
                           title:  "Remove the position #{position.name} from #{position.magazine}",
                           confirm: "Are you sure you want to remove all record of who was #{position.name} for #{position.magazine}?"
      = render partial: 'roles/new', locals: { role: position.roles.new }
