- if person == @user
  = link_to(image_tag(person.gravatar_url, :alt => "A picture of you"), "http://gravatar.com", :title => "You can change this on Gravatar.com")
- else
  = image_tag person.gravatar_url, :alt => "A picture of #{person.first_name}"
%ul
  - unless person.editorships.blank?
    %li
      %strong Editor
      = person.editorships.join(" & then again ")
  - unless person.coeditorships.blank?
    %li
      %strong Coeditor
      = person.coeditorships.join(" & then again ")
  - unless person.staffships.blank?
    %li
      %strong Staff
      = person.staffships.join(" & then again ")
  %li Joined the website on #{person.created_at.strftime("%e %b %Y")}
- if @user
  %a.toggle_next{:href => "#"}
    Send #{person.first_name} an email
  = semantic_form_for 'contact_person', :url => contact_person_path(person) do |f|
    = f.inputs do
      = f.input :from, :as => :hidden, :input_html => { :value => @user.id }
      = f.input :to, :as => :hidden, :input_html => { :value => person.id }
      = f.input :subject, :as => :string, :required => false
      = f.input :message, :as => :text, :required => false
    = f.buttons do
      = f.commit_button "Send"
- if editor? || person == @user
  %br
  %br
  = link_to "Edit account details", edit_person_path(person)
