= simple_form_for @person do |f|
  - if @person.errors.any?
    #errorExplanation
      %h3 There #{pluralize_phrase(@person.errors.count, "was an error", "were some errors")}!
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg
  
  = f.input :first_name
  = f.input :middle_name
  = f.input :last_name
  = f.input :email
  - if params[:action] == 'edit'
    = f.input :password, :label => 'New password'
    = f.input :password_confirmation, :label => 'New password again'
  = f.button :submit

:javascript
  $(function(){
    $("#person_first_name").focus();

    $("#person_first_name, #person_last_name").keyup(function(){
      $("span.name").html($("#person_first_name").val());
      if ($("#person_last_name").val() != "") {
        $("span.name").append(" " + $("#person_last_name").val());
      }
      $("#your_name_looks_like").fadeIn();
    });

  });
