%section[person]
  %span.name
    - if editor?
      = mail_to person.email, email_image(person.name)
    = link_to person.name, person
  %span.rank
    = person.current_ranks.blank? ? "&nbsp;".html_safe : person.current_ranks.join(', ')
  - if editor?
    %span.promote-to
      Promote:
      %ul
        - unless person.is_staff?
          %li= button_to "Staff", make_staff_person_path(person), :class => 'link'
        - unless person.the_coeditor?
          %li= button_to "Coeditor", make_coeditor_person_path(person), :confirm => "This will REMOVE the current coeditor! Are you sure you want to do this now?", :class => 'link'
        - unless person.the_editor?
          %li= button_to "Editor", make_editor_person_path(person), :confirm => "This will REMOVE the current editor! Are you sure you want to do this now?", :class => 'link'
    %span.actions
      = link_to "Edit", edit_person_url(person)
      |
      = link_to "Delete", person_url(person), :method => :destroy, :confirm => "This will mess up attendance & author records."
