- title "Help"
= semantic_form_for 'recover_password', :url => recover_people_path do |f|
  = f.inputs "Enter your email address, and we'll send you a link to change your password." do
    = f.input :email, :required => false, :label => false
  = f.buttons do
    = f.commit_button "Let me reset my password!"
