- title(t('.title'))
%table
  %thead
    %tr
      %th= Person.human_attribute_name :name
      %th Rank
      %th{:colspan => 2}= t 'actions'
  
  %tbody
    - for person in @people
      %tr{ :class => cycle(:odd, :even) }
        %td
          = mail_to person.email, email_image(person.name)
          = link_to person.name, person
        %td
          = person.ranks_as_words.join(', ')
        %td.action= link_to t('edit'), edit_person_path(person)
        %td.action= link_to t('destroy'), person, :confirm => t('are_you_sure'), :method => :delete
