- title @person.full_name
- if @person == current_person || the_editor?
  - content_for :sidebar do
    = render :partial => 'about', :locals => { :person => @person }
  - if @person == current_person
    %p
      What you've submitted:
      - if @submissions.empty?
        nothing, yet.
        = link_to "Get to it!", new_submission_path
  - else
    %p
      What #{@person.first_name} has submitted:
      - if @submissions.empty?
        nothing yet.
  %ul.submissions
    - @submissions.each do |submission|
      = render :partial => 'submissions/show', :locals => { :submission => submission, :collapsed => false }
- else
  = render :partial => 'about', :locals => { :person => @person }
