- title @person.full_name
- if @person == @user || the_editor?
  - content_for :aside do
    = render :partial => 'about', :locals => { :person => @person }
  - if @person == @user
    %p
      What you've submitted:
      - if @compositions.empty?
        nothing, yet.
        = link_to "Get to it!", new_composition_path
  - else
    %p
      What #{@person.first_name} has submitted:
      - if @compositions.empty?
        nothing yet.
  %ul.compositions
    - @compositions.each do |composition|
      = render :partial => 'compositions/show', :locals => { :composition => composition, :show_author => true }
- else
  = render :partial => 'about', :locals => { :person => @person }
