- title @person.full_name
- if @person == @user || the_editor?
  - content_for :aside do
    = render :partial => 'about', :locals => { :person => @person }
  - if @person == @user
    %h3 What you've submitted
    - if @person.compositions.empty?
      :markdown
        Nothing, yet. [Get to it!](#{new_composition_path})
  - else
    %h3 What #{@person.first_name} has submitted
    - if @person.compositions.empty?
      %p Nothing yet.
  - @person.compositions.each do |composition|
    = render :partial => 'compositions/composition', :locals => { :composition => composition }
- else
  = render :partial => 'about', :locals => { :person => @person }
