- title "Highest-Scored Submissions for the #{resource.nickname}"

= content_for :header do
  - unless @submissions.blank?
    .right
      = link_to "javascript:if(window.print)window.print()" do
        = fa_icon "print", text: "Print this page"
    = form_tag highest_scored_for_issue_path(@issue), :method => :get, :id => "highest" do
      = label_tag :highest, "View the highest"
      = number_field_tag :highest, @highest.presence, :in => 1..@max

      = label_tag :above, "or everything scored above"
      = number_field_tag :above, @above.presence, :in => 1..10, :step => 0.1
      = submit_tag "&rarr;".html_safe, :name => nil, :class => "link"

- if @submissions.present?
  :markdown
    The average score was **#{@issue.average_score}**
  = form_tag publish_issue_path(@issue), :id => "publish" do
    %ol.submissions.collapsable
      - for submission in @submissions
        = render :partial => 'submissions/show', :locals => { :submission => submission }
    %span.no-print Looking good?
    = submit_tag "Start organizing the layout"

- else
  %p Uh oh! You never entered any scores for this issue!!
