= simple_form_for @cover_art, html: { multipart: true } do |f|
  = error_messages
  = f.input :page_id, as: :hidden
  = f.input :image, as: :file, label: "Upload #{ "different " if @cover_art.image? }cover art:"
  = f.button :submit, "Save"
  = link_to "Cancel", request.referer, class: "cancel"

:javascript
  $("input#cover_art_image").focus();
  $("a.cancel").click(function(e){
    e.preventDefault();
    $(this).closest('form').hide();
  });
