= simple_form_for @publication, html_options: { action: publications_path(subdomain: '') } do |f|
  - if @publication.errors.any?
    #error_explanation
      %h2
        = pluralize(@publication.errors.count, "error")
        prohibited this publication from being saved:

      %ul
      - @publication.errors.full_messages.each do |msg|
        %li= msg

  .inputs
    = f.input :subdomain
    = f.input :name
    = f.input :tagline
    = f.simple_fields_for :publication_detail do |deets|
      = deets.input :about

  .actions
    = f.button :submit
