= simple_form_for(@publication) do |f|
  - if @publication.errors.any?
    #error_explanation
      %h2
        = pluralize(@publication.errors.count, "error")
        prohibited this publication from being saved:

      %ul
      - @publication.errors.full_messages.each do |msg|
        %li= msg

  .inputs
    = f.input :name
    = f.input :tagline
    = f.input :address
    = f.input :latitude
    = f.input :longitude

  .actions
    = f.button :submit
