= semantic_form_for(@<%= singular_name %>) do |f|
  - if @<%= singular_name %>.errors.any?
    #errorExplanation
      %h3= "There #{pluralize_phrase(@<%= singular_name %>.errors.count, 'was an error', 'were some errors')}!"
      %ul
      - @<%= singular_name %>.errors.full_messages.each do |msg|
        %li= msg

  = f.inputs do
<% for attribute in attributes -%>
    = f.input :<%= attribute.name %>
<% end -%>
  = f.buttons do
    = f.commit_button
