%span[score]{ :data => { :packet => score.packet.id, :attendance => score.attendance.id } }
  = simple_form_for score, :remote => true do |f|
    = render :partial => 'error_messages'
    = f.input :amount, :required => false,
                       :label => if score.entered_by_coeditor? then false else "Your score" end,
                       :input_html => { :min => 1, :max => 10, 'data-original' => "#{score.amount || ''}" }
    = f.input :attendance_id, :as => :hidden
    = f.input :packet_id, :as => :hidden
    = f.input :entered_by_coeditor, :as => :hidden
    - unless request.xhr?
      = f.button :submit
  - if score.id
    = button_to "x", score_path(score),
                     :method => :delete,
                     :remote => true,
                     :class => "link",
                     :title => "Remove"
