%span[score]{ :data => { :packlet => score.packlet.id, :attendee => score.attendee.id } }
  = simple_form_for score, :remote => true do |f|
    = error_messages
    = f.input :amount, :required => false,
              :label => score.entered_by_coeditor? || (params[:controller] == 'meetings' && params[:action] == 'scores') || (request.referer == scores_for_meeting_url(score.packlet.meeting) && request.xhr?) ? false : "Your score",
              :input_html => { :min => 1, :max => 10, 'data-original' => "#{score.amount || ''}" }
    = f.input :attendee_id, :as => :hidden
    = f.input :packlet_id, :as => :hidden
    = f.input :entered_by_coeditor, :as => :hidden
    - unless request.xhr?
      = f.button :submit, "+", :class => "link"
  - if score.id
    = button_to "x", score_path(score),
                     :method => :delete,
                     :remote => true,
                     :class => "link",
                     :title => "Remove"
