%h2.composition.title
  = sanitize composition.title
.composition.body
  - if composition.photo?
    = image_tag composition.photo.url(:medium)
    %br
  - unless composition.body.blank?
    = sanitize composition.body
- if the_editor? || @user == composition.author
  %p.composition.author
    by
    - if composition.author_id
      = link_to_unless_current composition.author, person_path(composition.author_id)
    - else
      = composition.author
