- javascript 'cleditor'
- stylesheet 'cleditor'

= simple_form_for @composition, :html => { :enctype => 'multipart/form-data' } do |f|
  - if @composition.errors.any?
    #errorExplanation
      %h3 There #{pluralize_phrase(@composition.errors.count, "was an error", "were some errors")}!
      %ul
        - @composition.errors.full_messages.each do |msg|
          %li= msg
  
  - unless @user
    = f.input :author_name, :label => "Your Name"
    = f.input :author_email, :label => "Your Email Address"
  = f.input :title, :label => 'Title'
  = f.input :body, :label => "Body", :required => false
  = f.input :photo, :label => "Or, submit an image:"
  - if @user
    - if the_editor?
      = f.input :author, :as => :string, :input_html => { :value => "" }
      \- OR -
      = f.input :author_name
      = f.input :author_email, :input_html => { :value => "" }
    - else
      = f.input :author_id, :as => :hidden
  = f.button :submit

- javascript "hoverIntent.min"
:javascript
  $(function(){
    $("#composition_author").autocomplete("#{auto_complete_for_person_first_name_middle_name_last_name_email_people_path}");

    cloptions = {
      width: '99%',
      height: 500,
      useCSS: false,
      docType: '<!DOCTYPE html>',
      bodyStyle: 'font-family: Cambria, Georgia, serif;',
      controls:     // controls to add to the toolbar
        "bold italic underline strikethrough subscript superscript | " +
        "color highlight removeformat | bullets numbering | outdent " +
        "indent | alignleft center alignright justify | " +
        "rule image link unlink | pastetext source"
    }

    $("#composition_body").cleditor(cloptions);

    cloptions.height = 62;
    cloptions.controls = "bold italic underline strikethrough subscript superscript | " +
        "pastetext source"
    $("#composition_title").cleditor(cloptions);


    /*
    title_toolbar = $("label[for=composition_title]").next().find('.cleditorToolbar');
    title_toolbar.wrap('<div class="trigger" style="cursor: pointer;"></div>').slideUp();
    hiConfig = {
      sensitivity: 3,
      interval: 200,
      timeout: 1000,
      over: function(){ title_toolbar.slideDown(); }, 
      out:  function(){ title_toolbar.slideUp();   }
    }
    $(".trigger").hoverIntent(hiConfig);
    */

  });
