- javascript 'wysiwyg'
- stylesheet 'compiled/compositions/form.css', :media => 'screen, projection'

= semantic_form_for @composition, :html => { :enctype => 'multipart/form-data' } do |f|
  - if @composition.errors.any?
    #errorExplanation
      %h3 There #{pluralize_phrase(@composition.errors.count, "was an error", "were some errors")}!
      %ul
        - @composition.errors.full_messages.each do |msg|
          %li= msg
  
  = f.inputs do
    - unless @user
      = f.input :author_name, :label => "Your Name"
      = f.input :author_email, :label => "Your Email Address"
    = f.input :title, :label => 'Title', :input_html => { :class => 'wysiwyg' }
    = f.input :body, :label => 'Body', :required => false, :input_html => { :class => 'wysiwyg' }
    = f.input :photo, :label => "Or, submit an image:"
    - if @user
      - if the_editor?
        = f.input :author, :collection => Person.order('first_name')
        \- OR -
        = f.input :author_name
        = f.input :author_email, :input_html => { :value => "" }
      - else
        = f.input :author_id, :as => :hidden
  = f.buttons do
    = f.commit_button

- javascript "hoverIntent.min"
:javascript
  $(function(){
    $(".wysiwyg").wysiwyg({
      css: '/stylesheets/compiled/layouts/application.css',
      controls: {
        h1: { visible: false },
        h2: { visible: false },
        h3: { visible: false },
        h1mozilla: { visible: false },
        h2mozilla: { visible: false },
        h3mozilla: { visible: false },
        separator06: { visible: false },
      }
    });
    $("#composition_title_input ul.panel").wrap('<div class="trigger" style="cursor: pointer;"></div>').slideUp();
    hiConfig = {
      sensitivity: 3,
      interval: 200,
      timeout: 1000,
      over: function(){ $("#composition_title_input ul.panel").slideDown(); }, 
      out: function(){ $("#composition_title_input ul.panel").slideUp(); }
    }
    $(".trigger").hoverIntent(hiConfig);
  });
