- javascript 'cleditor'
- stylesheet 'cleditor'

:markdown
  Please don't copy and paste this from Word!
  By mid-October, it won't matter, but for now,
  it will wreak havoc on your submission.
  Just rewrite it, por favor!

= simple_form_for @composition, :html => { :enctype => 'multipart/form-data' } do |f|
  - if @composition.errors.any?
    #errorExplanation
      %h3 There #{pluralize_phrase(@composition.errors.count, "was an error", "were some errors")}!
      %ul
        - @composition.errors.full_messages.each do |msg|
          %li= msg
  
  - unless @user
    = f.input :author_name, :label => "Your Name"
    = f.input :author_email, :label => "Your Email Address"
  = f.input :title, :label => 'Title', :input_html => { :class => 'wysiwyg' }
  = f.input :body, :label => "Body", :required => false, :input_html => { :class => 'wysiwyg' }
  = f.input :photo, :label => "Or, submit an image:"
  - if @user
    - if the_editor?
      = f.input :author, :as => :string, :input_html => { :value => "" }
      \- OR -
      = f.input :author_name
      = f.input :author_email, :input_html => { :value => "" }
    - else
      = f.input :author_id, :as => :hidden
  = f.button :submit

- javascript "hoverIntent.min"
:javascript
  $(function(){
    $("#composition_author").autocomplete("#{auto_complete_for_person_first_name_middle_name_last_name_email_people_path}");

    $(".wysiwyg").cleditor();
    /*
    $("#composition_title_input ul.panel").wrap('<div class="trigger" style="cursor: pointer;"></div>').slideUp();
    hiConfig = {
      sensitivity: 3,
      interval: 200,
      timeout: 1000,
      over: function(){ $("#composition_title_input ul.panel").slideDown(); }, 
      out: function(){ $("#composition_title_input ul.panel").slideUp(); }
    }
    $(".trigger").hoverIntent(hiConfig);
    */
  });
