- title(t('.title'))
- content_for :aside do
  :markdown
    Hiya, #{@user.first_name}! You're the only person who can see this page.
    
    Hooray!

%table
  %thead
    %tr
      %th= Composition.human_attribute_name :title
      %th= Composition.human_attribute_name :author
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for composition in @compositions
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to sanitize(composition.title), composition
        %td
          - if composition.author
            = composition.author.name
          - else
            = composition.author_name
        %td.action= link_to t('edit'), edit_composition_path(composition)
        %td.action= link_to t('destroy'), composition, :confirm => t('are_you_sure'), :method => :delete
