- title(strip_tags(@composition.title))
%h2.composition.title
  = sanitize @composition.title
.composition.body
  = sanitize @composition.body
%p.composition.author 
  #{@composition.author}

%p
  = link_to t('back'), compositions_path
  = link_to t('edit'), edit_composition_path(@composition)
