= semantic_form_for @user do |f|
  - if @user.errors.any?
    #errorExplanation
      %h3 There #{pluralize_phrase(@user.errors.count, "was an error", "were some errors")}!
      %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
  
  = f.inputs do
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
  = f.buttons do
    = f.commit_button
