%li[magazine]
  %header
    %h2
      - if magazine.published?
        = link_to magazine, magazine_path(magazine)
      - else
        = magazine
    = timeframe(magazine.accepts_submissions_from, magazine.accepts_submissions_until)
    - if editor?
      %nav.actions
        %ul
          %li= link_to "Edit", edit_magazine_url(magazine)
          %li
            = button_to "Delete", magazine_url(magazine),
                        :method => :delete,
                        :confirm => "You're saying this magazine never actually happened. All of its meetings will be unassociated with any magazine. If this magazine has been published, all of the submissions submitted for it will be simply \"Scored\" again.",
                        :class => 'link destroy'
  - if magazine.accepts_submissions_until < Time.now && magazine.published_on == nil and editor?
    = link_to "View the highest-scored submissions", highest_scored_for_magazine_path(magazine)
  - if magazine.meetings.present?
    %dl.meetings
      %dt
        %span.arrow &raquo;
        %p Meetings
      %dd
        %ol.meetings
          - for meeting in magazine.meetings
            = render :partial => 'meetings/show', :locals => { :meeting => meeting }
