%li[magazine]
  %span.nickname= magazine.nickname
  %span.title=    magazine.title.presence || '&nbsp;'.html_safe
  %span.timeframe
    = pretty_date(magazine.accepts_submissions_from)
    to 
    = pretty_date(magazine.accepts_submissions_until)
  - if editor?
    %nav.actions
      %ul
        %li= link_to "Edit", edit_magazine_url(magazine)
        %li
          = button_to "Delete", magazine_url(magazine),
                      :method => :delete,
                      :confirm => "You're saying this magazine never actually happened. All of its meetings will be unassociated with any magazine. If this magazine has been published, all of the submissions submitted for it will be simply \"Scored\" again.",
                      :class => 'link destroy'
