- title "Highest-Scored Submissions for the #{resource.nickname} Magazine"

= content_for :header do
  %p= link_to "Back to magazine", magazines_path
  - unless @submissions.blank?
    = form_tag highest_scored_for_magazine_path(@magazine), :method => :get, :id => "highest" do
      = label_tag :highest, "View the highest"
      = number_field_tag :highest, @highest.presence, :in => 1..@max

      = label_tag :above, "or everything scored above"
      = number_field_tag :above, @above.presence, :in => 1..10, :step => 0.1
      = submit_tag "&rarr;".html_safe, :name => nil, :class => "link"

- unless @submissions.blank?
  = form_tag publish_magazine_path(@magazine), :id => "publish" do
    %ol.submissions
      - for submission in @submissions
        = render :partial => 'submissions/show', :locals => { :submission => submission }
    = submit_tag "Publish checked submissions as #{@magazine.present_name}!", confirm: "This will make the published magazine visible to anonymous website visitors!"

- else
  %p Uh oh! You never entered any scores for this magazine!!
