- title "Highest-Scored Submissions for the #{@magazine.nickname} Magazine"

%p= link_to "Back to magazine", magazines_path
%div
  View the highest
  = form_tag highest_scored_for_magazine_path(@magazine), :method => :get, :id => "highest" do
    = number_field_tag :highest, @highest, :in => 1..@max
    = submit_tag "&rarr;".html_safe, :name => nil, :class => "link"

= form_tag publish_magazine_path(@magazine), :id => "publish" do
  %ol.submissions
    - for submission in @submissions
      = render :partial => 'submissions/show', :locals => { :submission => submission }
  = submit_tag "Publish checked submissions as #{@magazine.present_name}!", :confirm => "This will email everyone to let them know if they made it or not! This will make the published magazines visible to anonymous website visitors!"

:javascript
  $(function(){

    $('li.submission header h2').live('click', function(e){
      e.preventDefault();
      $(this).parents('li.submission').toggleClass('collapsed');
    });

  });
