%nav.pagination<
  %ol.pages<
    - if orchestrates? @magazine
      = render partial: "pages/form", locals: { position: :beginning }
    - for page in @magazine.pages
      - if orchestrates?(@magazine) || page.has_content?
        - if page == @page && orchestrates?(@magazine)
          %li[page]<
            = page.title
            = link_to fa_icon("times"), [@magazine, page],
                             :method => :delete,
                             :class => "link",
                             :title => "Remove this page (its content will go to the next page)"
        - else
          %li[page]<
            = link_to_unless page == @page, page.title, magazine_page_path(@magazine, page)
    - if orchestrates? @magazine
      = render partial: "pages/form", locals: { position: :end }
