%nav.pagination<
  %ol.pages<
    - if editor?
      = render partial: "pages/form", locals: { position: :beginning }
    - for page in magazine.pages
      - if editor? || page.has_content?
        - if page == current_page && editor?
          %li[page]{ contenteditable: 'true', data: { model: "page", attribute: "title", path: magazine_page_path(magazine, page), original: page.title } }<
            = page.title
            = button_to "x", [magazine, page],
                             :method => :delete,
                             :class => "link",
                             :title => "Remove this page (its content will go to the next page)"
        - else
          %li[page]<
            = link_to_unless page == current_page, page.title, magazine_page_path(magazine, page)
    - if editor?
      = render partial: "pages/form", locals: { position: :end }
