- title @magazine.to_s, ": #{@page.title}"

.content
  = render partial: "pagination", locals: { magazine: @magazine, current_page: @page }
  - collapse_resources = false
  - if not (notes = @page.editors_notes).empty?
    = render partial: "editors_notes/index", locals: { editors_notes: notes }
    - collapse_resources = true
  - if cover_art = @page.cover_art
    = render partial: "cover_arts/show", locals: { cover_art: cover_art }
    - collapse_resources = true
  - if toc = @page.table_of_contents
    = render partial: "table_of_contents/show", locals: { table_of_contents: toc }
    - collapse_resources = true
  - if staff_list = @page.staff_list
    = render partial: "staff_lists/show", locals: { staff_list: staff_list }
    - collapse_resources = true
  - if submissions = @page.submissions
    = render partial: "submissions/index", locals: { submissions: submissions }
    - collapse_resources = true unless submissions.empty?
  - if editor?
    = render partial: "add_resources", locals: { collapse: collapse_resources }
  = render partial: "pagination", locals: { magazine: @magazine, current_page: @page }
  - if editor? and not @magazine.notification_sent?
    .notify_authors_button
      Looking good?
      = button_to "Let everyone who submitted know it's been published!",
        notify_authors_of_published_magazine_path(@magazine),
        class: 'inline', confirm: "This will email everyone who submitted to let them know which of their submissions made it and which didn't. It will also link them to the magazine on the website, so you should be confident that it's looking nice & spiffy!"

- javascript 'page'
