.body
  - if submission.photo?
    = image_tag submission.photo.url(:medium)
  - unless submission.body.blank?
    = sanitize submission.body
%footer.submission-details
  - if @show_score
    = render :partial => 'scores/form', :locals => { :score => Score.with(@attendee, packlet) }
  - show_author = show_author.nil? ? true : show_author
  - if (@show_author.nil? or @show_author) and (the_editor? or current_person.email == submission.email)
    %p.author
      - if the_editor?
        = mail_to submission.email, email_image(submission.author)
      - if submission.author_id
        = link_to_unless_current submission.author, person_path(submission.author_id)
      - else
        = submission.author
  - if the_editor? or submission.draft?
    %p.actions
      = link_to "Edit", edit_submission_url(submission)
      - if the_editor?
        |
        = link_to "Delete", submission_url(submission), :method => :delete, :confirm => "Are you sure you want to delete this submission? If you just want to unschedule it, you can do that by dragging it to the \"Unscheduled\" section on the \"Submissions\" page."
