- javascript 'cleditor'
- stylesheet 'cleditor'

= simple_form_for @submission, :html => { :multipart => true } do |f|
  = render :partial => 'error_messages'
  
  - unless person_signed_in?
    = f.input :author_name, :label => "Your Name"
    = f.input :author_email, :label => "Your Email Address"
  = f.input :title, :label => 'Title'
  = f.input :body, :label => "Body", :required => false
  = f.input :photo, :label => "Or, submit an image:"
  - if person_signed_in?
    - if the_editor?
      = f.input :author, :as => :string, :label => "Author (you can submit for anyone with an account here)", :input_html => { :value => "#{resource.author(true).name_and_email if @submission.author(true)}" }
      = f.input :author_name, :label => "To submit for someone without an account, put their name here"
      = f.input :author_email, :input_html => { :value => "" }, :label => "...and their email address here"
    - else
      = f.input :author_id, :as => :hidden
  = f.button :submit

:javascript
  $(function(){
    $("#submission_author").autocomplete("#{auto_complete_for_person_first_name_middle_name_last_name_email_people_path}");

    cloptions = {
      width: '99%',
      height: 500,
      useCSS: false,
      docType: '<!DOCTYPE html>',
      bodyStyle: 'font-family: Cambria, Georgia, serif;',
      controls:     // controls to add to the toolbar
        "bold italic underline strikethrough subscript superscript | " +
        "color highlight removeformat | bullets numbering | outdent " +
        "indent | alignleft center alignright justify | " +
        "rule image link unlink | pastetext source"
    }

    $("#submission_body").cleditor(cloptions);

    cloptions.height = 62;
    cloptions.controls = "bold italic underline strikethrough subscript superscript | " +
        "pastetext source"
    $("#submission_title").cleditor(cloptions);

  });
