- title t('.title')

- content_for :sidebar do
  = render partial: 'magazines/sidebar'

:markdown
  #{link_to "Submit something", controller: "submissions", action: "submission_agreement"}  
  #{link_to "Schedule a new meeting", new_meeting_path}

- for meeting in @meetings_to_come
  %section.future[meeting]
    %header
      %h2 To be reviewed on #{link_to pretty_date(meeting.datetime), meeting_url(meeting)}
    %ol.packlets.collapsable.schedulable
      - for packlet in meeting.packlets
        = render :partial => 'packlets/show', :locals => { :packlet => packlet }

%section#unscheduled.unscheduled
  %header
    %h2 Unscheduled
  %ul.submissions.collapsable.schedulable
    - for submission in @unscheduled_submissions
      = render :partial => 'show', :locals => { :submission => submission }

- for meeting in @meetings_gone_by
  %section.past[meeting]
    %header
      %h2 Reviewed on #{link_to pretty_date(meeting.datetime), meeting_url(meeting)}
    %ol.packlets.collapsable.schedulable
      - for packlet in meeting.packlets
        = render :partial => 'packlets/show', :locals => { :packlet => packlet }
