- title(t('.title'))

%p= link_to "Schedule a new meeting", new_meeting_path

- for meeting in @meetings_to_come
  %section.future[meeting]
    %header
      %h2 To be reviewed on #{link_to pretty_date(meeting.when), meeting_url(meeting)}
    %ol.packlets
      - for packlet in meeting.packlets
        = render :partial => 'packlets/show', :locals => { :packlet => packlet, :show_author => true }

%section#unscheduled.unscheduled
  %header
    %h2 Unscheduled
  %ul.submissions
    - for submission in @submissions
      = render :partial => 'show', :locals => { :submission => submission, :show_author => true }

- for meeting in @meetings_gone_by
  %section.past[meeting]
    %header
      %h2 Reviewed on #{link_to pretty_date(meeting.when), meeting_url(meeting)}
    %ol.packlets
      - for packlet in meeting.packlets
        = render :partial => 'packlets/show', :locals => { :packlet => packlet, :show_author => true }

- javascript 'submissions'
