- title(t('.title'))

- content_for :sidebar do
  %section#magazines
    %header
      %h2
        Magazines
    %ul.magazines
      - for mag in @magazines
        %li{ :class => mag == @magazine && 'selected' }
          %header
            - if mag == @magazine
              %h3= mag.title.presence || mag.nickname
            - else
              %p= mag.title.presence || mag.nickname
          = pluralize mag.meetings.count, 'meeting'
          %br
          = timeframe mag.accepts_submissions_from, mag.accepts_submissions_until

:markdown
  #{link_to "Submit something", new_submission_path}  
  #{link_to "Schedule a new meeting", new_meeting_path}

- for meeting in @meetings_to_come
  %section.future[meeting]
    %header
      %h2 To be reviewed on #{link_to pretty_date(meeting.datetime), meeting_url(meeting)}
    %ol.packlets
      - for packlet in meeting.packlets
        = render :partial => 'packlets/show', :locals => { :packlet => packlet }

%section#unscheduled.unscheduled
  %header
    %h2 Unscheduled
  %ul.submissions
    - for submission in @submissions
      = render :partial => 'show', :locals => { :submission => submission }

- for meeting in @meetings_gone_by
  %section.past[meeting]
    %header
      %h2 Reviewed on #{link_to pretty_date(meeting.datetime), meeting_url(meeting)}
    %ol.packlets
      - for packlet in meeting.packlets
        = render :partial => 'packlets/show', :locals => { :packlet => packlet }

- javascript 'submissions'
