= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = error_messages
  = f.input :name, required: true, autofocus: true
  = f.input :email, required: true, placeholder: "This is what you you'll use to sign in."
  - if params[:action] == 'new' || params[:action] == 'create'
    .input.captcha
      %label{ for: "recaptcha_response_field" } Prove you're a human
      = raw recaptcha_tag(:challenge, display: { theme: 'white' })
  - else
    = f.input :password, :label => 'New password', :required => false
    = f.input :password_confirmation, :label => 'New password again'
    = f.input :current_password, required: true
  = f.button :submit

:javascript
  $(function(){
    $("#person_name").keyup(function(){
      $("span.name").html($(this).val());
      $("#your_name_looks_like").fadeIn();
    });

  });
