= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = error_messages
  = f.input :email, autofocus: "true"
  = f.input :first_name
  = f.input :middle_name
  = f.input :last_name
  - if params[:action] == 'new' || params[:action] == 'create'
    = f.input :password
    = f.input :password_confirmation
    .input.captcha
      %label{ for: "recaptcha_response_field" } Prove you're a human
      = raw recaptcha_tag(:challenge, display: { theme: 'white' })
  - else
    = f.input :password, :label => 'New password', :required => false
    = f.input :password_confirmation, :label => 'New password again'
    = f.input :current_password, required: true
  = f.button :submit

:javascript
  $(function(){
    $("#person_first_name, #person_last_name").keyup(function(){
      $("span.name").html($("#person_first_name").val());
      if ($("#person_last_name").val() != "") {
        $("span.name").append(" " + $("#person_last_name").val());
      }
      $("#your_name_looks_like").fadeIn();
    });

  });
