= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = error_messages
  = f.input :name, required: true, autofocus: true
  = f.input :email, required: true, placeholder: "This is what you you'll use to sign in."
  - if params[:action] == 'new' || params[:action] == 'create'
    = f.input :primary_publication_id, as: "hidden"
    - if resource.respond_to? :mean
      .contextual-info
        -# this is bullshit; it's a honeypot
        = f.input :mean, :label => "mean (please leave blank)"
        = f.input :tolerance, :label => "tolerance (please leave blank)"
        = f.input :legality, :label => "legality (please leave blank)"
        = f.input :preference, :label => "preference (please leave blank)"
        = f.input :encoding, :label => "encoding (please leave blank)"
  - else
    = f.input :password, :label => 'New password', :required => false
    = f.input :password_confirmation, :label => 'New password again'
    = f.input :current_password, required: true
  = f.button :submit

:javascript
  $(function(){
    $("#person_name").keyup(function(){
      $("span.name").html($(this).val());
      $("#your_name_looks_like").fadeIn();
    });

  });
