- title "Sign in"
= session[:return_to]
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.input :email, :required => false, :autofocus => true
  = f.input :password, :required => false
  - if devise_mapping.rememberable?
    = f.input :remember_me, :as => :boolean
  = f.submit "Sign in"
= render :partial => "devise/shared/links"
