!!!
%html
  %head
    - @content_for_title ||= "Problem Child"
    %title= @content_for_title
    %link(rel="shortcut icon" href="/images/favicon.ico")
    = stylesheet_link_tag 'compiled/screen', 'jquery.autocomplete', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', 'jquery.autocomplete', 'rails', 'application'
    = csrf_meta_tag
    = yield :head
  %body
    #page
      %nav.site-nav{ :role => 'navigation' }
        %ul
          %li{ :class => params[:controller] == 'welcome' && 'current' }= link_to_unless_current "About", root_path
          %li{ :class => current_page?(new_composition_path) && 'current' }= link_to_unless_current "Submit", new_composition_path
          - if editor?
            %li{ :class => params[:controller] == 'compositions' && params[:action] != 'new' && 'current' }= link_to_unless_current "Compositions", compositions_path
          - if staff? || editor?
            %li{ :class => params[:controller] == 'people' && 'current' }= link_to_unless_current "People", people_path
          - if member?
            %li{ :class => params[:controller] == 'meetings' && 'current' }= link_to_unless_current "Meetings", meetings_path
          %li
            %ul#account
              - if @user
                %li
                  = link_to_unless_current @user.name, person_path(@user)
                %li
                  = button_to "Sign out", @application_session, :method => :delete, :class => "link"
              - else
                %li
                  = link_to_unless_current "Sign in", new_session_path
                %li
                  = link_to_unless_current "Sign Up!", new_person_path
      %header{ :role => 'banner' }
        %h1 Problem Child
        %p= t 'subtitle'
      - if flash[:notice]
        #notice= flash[:notice]
      %article{ :id => "#{@article_id}", :role => 'main', :class => !content_for?(:aside) && 'full-width' }
        %header
          %h1= @content_for_page_heading if @show_title
        = yield
      - if content_for? :aside
        %aside{ :id => "#{@article_id}-aside" }
          -##search_box
            -#= form_tag('/#') do
              -#%input{ :type => 'text', :name => "search", :id => "search", :value => "Nothing to search!", :class => "watermark" }
              -#%input{ :type => 'submit', :value => "Search!" }
          -#%br
          -#%hr
          = yield :aside
      #page-footer &nbsp;
    %footer{ :role => 'contentinfo' }
      #footer
        :markdown
          This website is in early alpha development; you may experience turbulence. Please let #{Person.chad ? "[someone](#{person_path(Person.chad)})" : "someone"} know if something is broken.
