!!!
%html
  %head
    - @content_for_title ||= "Problem Child"
    %title= @content_for_title
    %link(rel="shortcut icon" href="/images/favicon.ico")
    = stylesheet_link_tag 'compiled/screen', 'jquery.autocomplete', 'compiled/ellipsis', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js', 'jquery.autocomplete', 'rails', 'application'
    = csrf_meta_tag
    = yield :head
  %body
    #page
      %nav.site-nav{ :role => 'navigation' }
        %ul
          %li{ :class => params[:controller] == 'welcome' && 'current' }= link_to_unless_current "About", root_path
          %li{ :class => current_page?(new_submission_path) && 'current' }= link_to_unless_current "Submit", new_submission_path
          - if editor?
            %li{ :class => params[:controller] == 'submissions' && params[:action] != 'new' && 'current' }= link_to_unless_current "Submissions", submissions_path
          - if staff? || editor?
            %li{ :class => params[:controller] == 'people' && 'current' }= link_to_unless_current "People", people_path
          - if member?
            %li{ :class => params[:controller] == 'meetings' && 'current' }= link_to_unless_current "Meetings", meetings_path
          %li
            %ul#account
              - if person_signed_in?
                %li
                  = link_to_unless_current current_person.name, person_path(current_person)
                %li
                  = link_to "Sign out", destroy_person_session_path
              - else
                %li
                  = link_to_unless_current "Sign in", sign_in_path
                %li
                  = link_to_unless_current "Sign Up!", sign_up_path
      %header{ :role => 'banner' }
        .gradient
          %h1 Problem Child
          %p= t 'subtitle'
      - if flash[:notice]
        #notice= flash[:notice]
      - if flash[:alert]
        #notice= flash[:alert]
      %article{ :id => "#{@article_id}", :role => 'main', :class => [!content_for?(:sidebar) && 'full-width', params[:controller]] }
        %header
          %h1{ :class => params[:controller] == 'submissions' && params[:action] == 'show' && 'nocaps' }<
            = @content_for_page_heading if show_title?
        = yield
      - if content_for? :sidebar
        %section.sidebar{ :id => "#{@article_id}-sidebar" }
          -##search_box
            -#= form_tag('/#') do
              -#%input{ :type => 'text', :name => "search", :id => "search", :value => "Nothing to search!", :class => "watermark" }
              -#%input{ :type => 'submit', :value => "Search!" }
          -#%br
          -#%hr
          = yield :sidebar
      #page-footer &nbsp;
    %footer{ :role => 'contentinfo' }
      #footer
        .gradient
          :markdown
            This website is in early alpha development; you may experience turbulence. Please let #{Person.chad ? "[someone](#{person_path(Person.chad)})" : "someone"} know if something is broken.
