!!!
%html
  %head
    - @content_for_title ||= "Problem Child"
    %title= @content_for_title
    %link(rel="shortcut icon" href="/images/favicon.ico")
    = stylesheet_link_tag 'compiled/screen', 'jquery.autocomplete', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = hoptoad_javascript_notifier
    - jquery    = ENV['JQUERY']    || 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'
    - jquery_ui = ENV['JQUERY_UI'] || 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'
    = javascript_include_tag jquery, jquery_ui
    = csrf_meta_tag
    = yield :head
  %body
    #page
      %nav.site-nav{ :role => 'navigation' }
        %ul
          %li{ :class => params[:controller] == 'welcome'     && 'current' }= link_to_unless_current "About", root_path
          - unless editor?
            %li{ :class => current_page?(new_submission_path)   && 'current' }= link_to_unless_current "Submit", new_submission_path
          - if editor?
            %li{ :class => params[:controller] == 'submissions' && 'current' }= link_to_unless_current "Submissions", submissions_path
          - if staff? || editor?
            %li{ :class => params[:controller] == 'people'      && 'current' }= link_to_unless_current "People", people_path
          %li{ :class => params[:controller] == 'magazines'   && 'current' }= link_to_unless_current "Magazines", magazines_path
          %li
            %ul#account
              - if person_signed_in?
                %li
                  = link_to_unless_current current_person.name, person_path(current_person)
                %li
                  = link_to "Sign out", destroy_person_session_path
              - else
                %li
                  = link_to_unless_current "Sign in", sign_in_path
                %li
                  = link_to_unless_current "Sign Up!", sign_up_path
      %header{ :role => 'banner' }
        %h1 Problem Child
        %p= t 'subtitle'
      - if flash[:notice]
        #notice= flash[:notice]
      - if flash[:alert]
        #notice= flash[:alert]
      %article{ :id => "#{@article_id}", :role => 'main', :class => [!content_for?(:sidebar) && 'full-width', params[:controller]] }
        %header
          %h1{ :class => params[:controller] == 'submissions' && params[:action] == 'show' && 'nocaps' }<
            = @content_for_page_heading
          - if content_for? :header
            %div
              = yield :header
        = yield
      - if content_for? :sidebar
        %section.sidebar{ :id => "#{@article_id}-sidebar" }
          = yield :sidebar
      #page-footer &nbsp;
    %footer{ :role => 'contentinfo' }
      #footer
        :markdown
          This website has an open development process! Check out [what's coming up next][1] and [browse the code][2]!

            [1]: https://www.pivotaltracker.com/projects/118546
            [2]: https://github.com/chadoh/pcmag
    = javascript_include_tag 'jquery.autocomplete', 'modernizr-1.6.min', 'rails', 'application'
    - if protect_against_forgery?
      :javascript
        var AUTH_TOKEN = #{form_authenticity_token.inspect};
    = yield :javascript
