!!!
%html
  %head
    %title Publishist
    = stylesheet_link_tag 'application'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield :head
  %body
    #page(style="text-align: center")
      %header{ :role => 'banner' }
        %h1 Publishist
        %p Organize your literary community. Inspire your world.
      %article{ role: 'main', style: "float: none; display: inline-block" }
        = yield
